// Also import styles for deprecated Panel and Promo
@import '../node_modules/govuk-frontend/govuk/all';

// Allow current govuk styles to override legacy

.tag-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > .govuk-tag {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
